<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/foods/add_food">Thêm món ăn</a>
    <a href="/logout">Đăng xuất</a>
    
    
    {% for food in ALL_FOOD %}
        <h1>Đây là món ăn số {{loop.index}}</h1>
        <h3>Tiêu đề: {{ food.title }}</h3>
        <h5>Mô tả: {{food.description}}</h5>
        <img src="{{food.link}}" alt="">
        {% if food.type == "food" %}
            <p>Đây là đồ ăn</p>
        {% else %}
            <p>Đây là đồ uống</p>
        {% endif %}
        <a href="/foods/{{ food._id}}">Chi tiết món ăn</a>
        <a href="/foods/delete/{{food._id}}">Xóa món ăn</a>
        <a href="/foods/edit_food/{{food._id}}">Sửa thông tin món ăn</a>
        <hr>
        
    {% endfor %}
        
</body>
</html>