<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add-bike</title>
</head>
<body>
    <form method="POST">
        <h3>Model</h3>
        <input type="text" placeholder="e.g.Honda" name="model">
        <br><br>
        <h3>Daily fee (VNĐ)</h3>
        <input type="text" placeholder="100000" name="fee">
        <br><br>
        <h3>Image</h3>
        <input type="text" placeholder="link img" name="image">
        <br><br>
        <h3>Year</h3>
        <input type="text" placeholder="e.g. 2013" name="year">
        <br> <br> <br>
        <button>Submit</button>
    </form>
</body>
</html>