<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="../static/exx.css">
</head>
<body>
    <div class="first">
        <a href="/logout">Đăng xuất</a>
    </div>
    
    
    
    
    <img class="picture" src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-circle-512.png">
    <b>{{username}}</b>
    <form method="POST" action="/post">
        <input type="text" name="content_post" placeholder="Bạn đang có tâm sự gì?">
        
        <button>Đăng bài</button>
    </form>
    <div>
        {% for stt in all_status %}
            <img src="https://cdn2.iconfinder.com/data/icons/rcons-user/32/male-shadow-circle-512.png">
            <p>{{stt.user}}</p>
            <h4>{{ stt.content}}
            
            </h4>
            <a href="/home/{{stt._id}}">Xem thêm</a>
            
            <hr>
        
        {% endfor %}  
    </div>
</body>
</html>