<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
</head>
<body>
    <div>
        <a href="/logout">Đăng xuất</a>
    </div>
    <div>
        <a href="/post">Đăng bài</a>
    </div>
    
    
    <div>
        {% for stt in all_status %}
            <h4>Chủ đề:{{stt.topic}}</h4>
            <h4>{{ stt.content}}</h4>
            <a href="/home/{{stt._id}}">Xem thêm</a>
            {% for cmt in stt.comment %}
            <h4> Bình Luận: {{ cmt.content_cmt}}</h4>
            <h4> {{ cmt.id_comment }}</h4>
            {% endfor %}  

            <hr>
        {% endfor %}  
            

            

        
    </div>
</body>
</html>