<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form method="POST">
            <input type="text" placeholder="User Name" name="username_login">
            <input type="password" placeholder="********" name="password_login">

            <input type="submit" value="Đăng Nhập">
            <a href="/register">
                <input type="button" value="Đăng Kí">
            </a>
            
        </form>
    </body>
    </html>